@{
    Layout = "_Layout";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-9">
            <div class="col">
                <h1 class="mb-3">Contact</h1>
                <p class="m-0">C.U.C.D.B DIIAGE</p>
                <p class="m-0">69 Avenue Aristide Briand</p>
                <p class="mb-4">21000 Dijon</p>
                <p class="mb-0"><i class="fas fa-phone-alt mr-2"></i>03 80 73 45 90</p>
                <i class="fas fa-envelope mr-2"></i><a href="mailto:secretariat@cucdb.fr">secretariat@cucdb.fr</a>
                <h1 class="mt-3">Suivez-nous</h1>
                <div class=" row ">
                    <div class="col-4 text-center ">
                        <a href="http://diiage.cucdb.fr/" target="_blank"><i class="fas fa-link fa-2x"></i><br />Site officiel du DIIAGE</a>
                    </div>
                    <div class="col-4 text-center">
                        <a href="https://fr-fr.facebook.com/diiage/" target="_blank"> <i class="fab fa-facebook fa-2x"></i><br />Facebook</a>
                    </div>
                    <div class="col-4 text-center">
                        <a href="https://twitter.com/DiiageCucdb" target="_blank"> <i class="fab fa-twitter fa-2x"></i><br />Twitter</a>
                    </div>
                </div>
            </div>


        </div>

        @await Component.InvokeAsync("StylesSidebar");
    </div>
</div>