@{
    Layout = "_Layout";
}
@model ArtisteViewModel

<div class="container-fluid">
    <div class="col mt-4">
        <h1>Supprimer un artiste</h1>
        <hr />
        <p class="mb-3">Êtes-vous sûr de vouloir supprimer l'artiste "@Model.NomArtiste" ?</p>
        <form class="m-0 py-0" method="post">
            <input type="hidden" asp-for="@Model.IdArtiste" />
            <button asp-area="Administration" asp-controller="Artistes" asp-action="Delete" class="btn btn-danger mb-4">
                Supprimer
            </button>
        </form>
        <div class="mt-5">
            <a asp-action="Index">Retour à l'administration des artistes</a>
        </div>
    </div>

</div>