@{
    Layout = "_Layout";
}
@model Webzine.WebApplication.ViewModels.ArtisteViewModel

<div class="container-fluid">
    <div class="row">
        <div class="col-9">
            <h1>@Model.Artist.Nom</h1>
            <hr />
            <article class="w-75 mt-4 text-justify">@Model.Artist.Biographie</article>
            <p class="w-75 mt-4 text-justify">Pays: @Model.Artist.Pays.Nom</p>
            <p class="w-75 mt-4 text-justify">Date de naissance: @Model.Artist.DateNaissance</p>
            <h2 class="mt-4">Albums</h2>
            <hr />
            @foreach (var album in Model.Albums)
            {
                @await Component.InvokeAsync("AlbumCards", new { tracks = album })
            }
        </div>

        @await Component.InvokeAsync("StylesSidebar");
    </div>

</div>